<div id="project">
    <div id="header">
        <span class="header-element">Browse My Recent</span>
        <span class="header-element" id="section-title">Projects</span>
    </div>
    <div id="content">
        <div class="element"><app-card-project name="Project One"></app-card-project></div>
        <div class="element"><app-card-project name="Project Two"></app-card-project></div>
        <div class="element"><app-card-project name="Project Three"></app-card-project></div>
    </div>
</div>
