<div id="experience">
    <div id="header">
        <span class="header-element">Explore My</span>
        <span class="header-element" id="section-title">Experience</span>
    </div>
    <div id="content">
        <div class="element">
            <app-card-experience cardName="Embedded System Skills"
                                [cardElements]="frontendCompetences">
            </app-card-experience>
        </div>
        <div class="element">
            <app-card-experience cardName="Cloud Knowledges"
                                [cardElements]="backendCompetences">
            </app-card-experience>
        </div>
        <div class="element">
            <app-card-experience cardName="Soft Skills"
                                [cardElements]="backendCompetences">
            </app-card-experience>
        </div>
    </div>
</div>
