<div id="about-header">
    <span id="value">About me</span>
</div>
<div id="about">
    <div id="photo-section">
        <img src="/assets/img/test_img.jpg" alt="Tof" width="400px" height="450px" id="photo">
    </div>
    <div id="description">
        <div class="card-container">
            <div class="card-element">
               <app-card-about icon="home" name="Experience" value="2+ years" more="frontend Development"></app-card-about>  
            </div>
            <div class="card-element">
                <app-card-about icon="home" name="Education" value="Engineering degree at INSA" more="Embedded system"></app-card-about>  
             </div>
        </div>
        <div id="text-section">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            </p>
        </div>
    </div>
</div>
