<div id="home">
    <img id="home-img" src="/assets/img/test_img.jpg" alt="Tof" width="400px" height="400px">
    <div id="home-description">
        <span class="description-element"><h4>{{introMsg}}</h4></span>
        <span class="description-element"><h1>{{name}}</h1></span>
        <span class="description-element"><h2 id="position-section">{{position}}</h2></span>
        <span class="description-element">
            <button mat-stroked-button id="cv-button">Download CV</button>
            <button mat-stroked-button id="contact-button">Contact Me</button>
        </span>
        <span class="description-element">
            <img src="/assets/img/linkedIn_icon.png" alt="linkedIn" width="39px" height="38px" id="linkedIn-image">
            <img src="/assets/img/github_icon.png" alt="github" width="65px">
        </span>    
    </div>
</div>
